body {
    margin: 0.5in;
    background-color: white;
}

code {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 90%;
    color: #217dc4;
}

.math {
    font-size: 12px;
    margin: 1em 0;
}

.math.display {
    display: block;
    text-align: center;
}

/* For numbered equations */
.equation-number {
    float: right;
    margin-left: 1em;
}